schema_version: 3

distribution:
  source: {{distribution_source}}
  version: {{distribution_version}}

installation:
  selected:
{{selected_skills}}
  skills:
{{installed_skills}}

backends:
{{backends}}

records:
{{records}}
